<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
	<a class="navbar-brand" href="#/">
		<div class="brand-logo">
			<img class="img-responsive" src="http://themicon.co/theme/angle/v3.5.1/backend-angular/app/img/logo.png" alt="App Logo"/>
		</div>
	</a>
	<div class="navbar-inside">
		<ul class="nav navbar-nav float-xs-left">
			<li class="nav-item">
				<a class="nav-link" href=""><em class="fa fa-navicon"></em></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href=""><em class="fa fa-user-circle-o"></em></a>
			</li>
			<li class="nav-item"><a class="nav-link" href=""><em class="fa fa-lock"></em></a></li>
		</ul>
		<ul class="nav navbar-nav float-xs-right inline">
			<li class="nav-item">
				<a class="nav-link" href=""><em class="fa fa-search"></em></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="" (click)="togglefullscreen()"><em class="fa fa-expand"></em></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href=""><em class="fa fa-bell-o"></em></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href=""><em class="fa fa-cogs"></em></a>
			</li>
		</ul>
        <form class="form-inline float-xs-right">
            <input class="form-control" type="text" placeholder="Search">
        </form>
	</div>
</nav>